.container {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  max-width: 100%;
  margin: 0, auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: 'relative';
  height: 70px; /* 更新したら、page.module.css - .pageMainも変更する*/
}

.logo {
  margin-left: 20px;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  margin-left: 20px;
}

.menuLink {
  color: #fff;
  text-decoration: none;
}

.menuLink:hover {
  text-decoration: underline;
}
